@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #020808;
  overflow: hidden;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container take up the full viewport height */
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

#message {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #39e3ee;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: 320px;
  margin: 0 auto;
}

.cell {
  width: 72px;
  height: 72px;
  box-shadow: 6px 6px 12px 2px rgba(60, 204, 213, 0.25),
    -3px -3px 12px 2px rgba(60, 204, 213, 0.25),
    3px 3px 12px 2px rgba(60, 204, 213, 0.25) inset,
    -6px -6px 12px 2px rgba(60, 204, 213, 0.25) inset;
  border-radius: 24px;
  border: 6px #3cccd5 solid;
  margin: 8px;
  fill: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cell:hover {
  box-shadow: 6px 6px 12px 2px rgba(23, 160, 206, 0.25),
    -3px -3px 12px 2px rgba(60, 204, 213, 0.25),
    3px 3px 12px 2px rgba(60, 204, 213, 0.25) inset,
    -6px -6px 12px 2px rgba(60, 204, 213, 0.25) inset;
  border: 6px rgb(47, 172, 200) solid;
}

.name {
  color: #39e3ee;
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#contButton{
  background-color: #7EE0E6;
  color: #0C4A4E;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 6px 6px 12px 2px rgba(60, 204, 213, 0.25),
  -3px -3px 12px 2px rgba(60, 204, 213, 0.25),
  3px 3px 12px 2px rgba(60, 204, 213, 0.25) inset,
  -6px -6px 12px 2px rgba(60, 204, 213, 0.25) inset;
  transition: all 0.3s ease-in-out;
  width: 192px;
  height: 72px;
  border-radius: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: none;
}

#contButton:hover{
  background-color: #5CD4DB;
  box-shadow: 6px 6px 12px 2px rgba(23, 160, 206, 0.25),
  -3px -3px 12px 2px rgba(60, 204, 213, 0.25),
  3px 3px 12px 2px rgba(60, 204, 213, 0.25) inset,
  -6px -6px 12px 2px rgba(60, 204, 213, 0.25) inset;
}